/* Ẩn bảng chỉ dẫn rẽ trái/phải che mất bản đồ */
.leaflet-routing-container {
    display: none !important;
}

/* Tùy chỉnh popup cho đẹp hơn */
.leaflet-popup-content-wrapper {
    border-radius: 8px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-size: 13px;
    font-weight: 500;
}
.leaflet-popup-tip {
    background: white;
}